body {
	background-color: #FEF0E3;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

#me {
	height: 150px;	
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: #fff;
	margin-top: 50px;
}

h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.about {
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.btn {
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}

.btn-alt {
	border: 1px solid  #dfe2e5;
	padding: 10px 30px;
	margin: 0 7.25px;
}

a {
	color: #fff;
	text-decoration: none;
}